/* ADD YOUR STYLES HERE */
.bordered tr {
	border-bottom: 1px solid gray;
}
.bordered .last_row {
	border-bottom: 0px; 
}
.bbfont .bbfont{
	font-size: 35px;
	font-weight: bold;
}
.tinygreyfont {
	font-size: 12px;
	color: gray;
}
.topbottomborder {
	border-top: 1px gray solid;
	border-bottom: 1px gray solid;
}
